body {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background: #4912f6;
  font-family: sans-serif;
}

h1,
h2,
h3,
p,
span {
  color: white;
}
a {
  color: white;
  text-decoration: none;
  padding-right: 15px;
}
span {
  font-weight: bold;
}
h1 {
  font-weight: normal;
  font-size: 20px;
}
h1 > span {
  font-size: 25px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 20px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
}

p {
  font-weight: normal;
}
h2 {
  font-size: 20px;
}
img {
  width: 250px;
}
.sign-up {
  display: flex;
  align-items: center;
}
#main-p {
  color: #9073f8;
}
.special-p {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
}

.section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}

.try-btn {
  padding: 12px;
  border-radius: 15px;
  color: white;
  background: linear-gradient(#ea9e3d, #ee7b38);
  border: none;
}

#main-img {
  width: 25%;
  margin-right: 100px;
}
.featured-logos {
  width: 300px;
}
.free-sessions-btn {
  border-radius: 15px;
  color: white;
  background: linear-gradient(#ea9e3d, #ee7b38);

  border-radius: 25px;

  padding: 20px 20px;
}

.try-free-btn {
  margin-top: 30px;
}

.try-free-btn > a {
  font-size: 10px;
  text-align: center;
}
.title-section {
  /* flex: 0 1 100px; */
  width: 500px;
  margin-left: -50px;
}
.section-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-bottom: 100px; */
  margin-top: 200px;
  justify-content: space-around;
}
.left-section-2,
.right-section-2 {
  flex: 0 1 500px;
}

.logo {
  width: 120px;
}
